.main-section{
    
    height: 500px ;
    background: url('../../public/assets/pexels-karolina-grabowska-4021769.jpg') ;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% !important;
    padding: 5%;
}

.main-title{
    padding-top: 80px !important;
    text-align: left;
    font-size: 60px;
    margin: 0 !important;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
}

.col-sm-3{

    
    
    .card{
        min-height: 400px !important;
        border-bottom: 5px solid rgba(0, 0, 0, 0.479);
        border-style: none;
        border-radius: 20px;
    }
   
}

#main_dash{
    background-color: rgba(1, 68, 107, 0.945);
    padding: 2%;
    border-radius: 20px;
    .card-data{
        background-color: rgba(1, 68, 107, 0.39);
        border-radius: 20px;
    }
    .card-data:hover{
        background-color: rgba(255, 255, 255, 0.11);
        color: black !important;
        border-radius: 20px;
    }

}

#main_dash_doc{
    background-color: rgb(92, 92, 92);
    padding: 2%;
    border-radius: 20px;
    .card-data{
        background-color: rgba(65, 65, 65, 0.39);
        border-radius: 20px;
    }
    .card-data:hover{
        background-color: rgba(255, 255, 255, 0.11);
        color: black !important;
        border-radius: 20px;
    }
}

.col-sm-12 {
    background-color: whitesmoke;
    border-radius: 20px;
}

.p-column-header-content{
    background-color: rgba(1, 68, 107, 0.877);
    padding: 15px !important;
    color: whitesmoke !important;

}

.col_rec{
    padding: 10px !important;
}


.col_rec:hover{
    padding: 10px !important;
    background-color: rgba(1, 68, 107, 0.151);
}

.dataRowT{
    border-style: none !important;
}

.main-title-sub{
    text-align: left;
    font-size: 60px;
     margin: 0 !important;
         font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;

}

.list-group-item{
    background-color:  rgba(1, 68, 107, 0.904);
    border-style: none !important;
    border-radius: 500px !important;
    color: rgb(233, 233, 233);
    border-bottom: 5px solid rgba(3, 50, 121, 0.315) !important;
}

.btn-register{
    margin-left: 5px;
    margin-top: 2%;
    height: 40px;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
}

.about-section{
    padding: 5%;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.text-data{
    text-align: justify !important;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
}
.main-section{
    padding: 0 !important;
}

.sub-m{
    background: rgba(1, 68, 107, 0.836);
    min-height: inherit;
    padding: 5% !important;
    min-height: 100vh;
}

.side_img{
    border-radius: 20px;
}

.modalP{
    --width: 60% !important;
    --height: 85% !important;
}

@media (max-width: 576px) { 

    .main-section{
        background: url('../../public/assets/mobile-d.png');
        background-attachment: fixed !important;
        text-align: center;
        overflow: hidden;
        background-repeat: no-repeat;
        padding: 0 !important;
        margin: 0 !important;
        max-height: 500px !important;
    }

    .main-title{
        padding-top:100px !important;
        text-align: center;
        font-size: 50px;
       
    }

    .main-title-sub{
        text-align: center;
        font-size: 50px;
        margin-bottom: 3% !important;
       

    }

    .about-sub{
        padding: 7% !important;
    }

    .sub-m{
        background-color: rgba(1, 68, 107, 0.836);
        padding: 4% !important;
        margin: 0 !important;
        height: 100vh !important;
        overflow: hidden;
    }
    .text-data{
        text-align: left !important;
        padding: 5%;
        font-family: 'Comfortaa', cursive;
        font-family: 'Montserrat', sans-serif;

    }
}